@charset "utf-8";

.imagemlogo {
	max-width:300px;
	width: 80%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.background{
	background-color: #2196F3 !important;
	
}


